configuration {

    modes:"drun,run,filebrowser";

    timeout {
        delay: 0;
        action: "kb-cancel";
    }

    filebrowser {
        sorting-method:    "name";
        directories-first: true;
    }
}

@theme "default.rasi"
