configuration {

    // Timeout from user input.
    timeout {
        // The delay after inactivity to execute action.
        delay: 3;
        // The action to execute once the delay expires.
        action: "kb-cancel";
    }

    // File browser mode.
    filebrowser {
        sorting-method:    "name";
        directories-first: true;
    }
}

@theme "default.rasi"

// About theme see https://github.com/davatorium/rofi/blob/next/doc/rofi-theme.5.markdown 