/* global */
@import "default.css";
@import "default-colors.css";
@import "colors.g.css";

@define-color fg @fg-common;
@define-color bg @bg-common;

* {
  font-size: 10pt;
  font-weight: bold;
  border-radius: 10px;
}
window#waybar {
  background-color: transparent;
  /* background-color: alpha(@bg, 0.5); */
  color: @brand;
  transition: background-color 0.3s ease;
}

/* tooltip */
tooltip {
  background: shade(alpha(@bg, 0.9), 1);
  box-shadow: 1px 2px 2px @bg-shadow;
  text-shadow: 1px 1px 2px @fg-shadow;
  border: 2px solid @bg-border;
}
tooltip label {
  color: @fg;
}

.modules-left,
.modules-center,
.modules-right {
  background: shade(alpha(@bg, 0.8), 1);
  box-shadow: 1px 2px 2px @bg-shadow;
  text-shadow: 1px 1px 2px @fg-shadow;
  margin: 0 0 4px 0;
  padding: 2px 14px 1px 14px;
}

.modules-center {
  border-radius: 0 0 20px 20px;
}

.modules-left {
  border-radius: 0 0 20px 0;
}

.modules-right {
  border-radius: 0 0 0 20px;
}

/* workspaces */
#workspaces {
  border-radius: 999px;
  padding: 2px 8px;
  margin: 0 4px;
}

#workspaces button {
  background-color: alpha(@fg, 0.5);
  border-radius: 999px;
  padding: 0 10px;
  margin: 0 3px;
  min-width: 0;
  min-height: 0;
  transition: all 0.8s cubic-bezier(0, 0.5, 0.35, 1);
}

#workspaces button.active {
  background-color: @brand;
  min-width: 30px;
  transition: all 0.8s cubic-bezier(0, 0.5, 0.35, 1);
}

#workspaces button.empty {
  background-color: alpha(@fg, 0.2);
}

#workspaces button.empty.active {
  background-color: alpha(@fg, 0.5);
}

#workspaces button.overview {
  background-color: @brand;
  min-width: 30px;
  transition: all 0.8s cubic-bezier(0, 0.5, 0.35, 1);
}

#workspaces button:hover {
  border: 1px solid @bg-border;
  background-color: @brand;
  transition: all 0.4s cubic-bezier(0, 0.5, 0.35, 1);
  min-width: 20px;
}

#workspaces button.active:hover {
  transition: all 0.4s cubic-bezier(0, 0.5, 0.35, 1);
  min-width: 20px;
}

/* modules */
#custom-lock,
#custom-monitor,
#custom-notify,
#custom-tray-expander,
#mode,
#clock,
#memory,
#temperature,
#cpu,
#mpd,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery,
#mpris,
#cava {
  color: @fg;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 25px;
  transition: all 1s cubic-bezier(0, 0.5, 0.35, 1);
  margin: 0 1px;
}

#mpris.playing {
  color: @fg;
}
#mpris.paused {
  color: @fg-hover;
}

#pulseaudio-slider slider {
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
  background: none;
}
#pulseaudio-slider trough {
  min-width: 60px;
  min-height: 10px;
  border-radius: 5px;
  background: rgba(203, 203, 203, 0.5); /* gray with 0.5 alpha */
}
#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @brand;
}

#custom-tray-expander:hover,
#custom-monitor:hover,
#custom-lock:hover,
#custom-notify:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#mpris:hover,
#pulseaudio:hover,
#battery:hover,
#clock:hover {
  color: @bg;
  background-color: @brand;
  transition: all 0.4s cubic-bezier(0, 0.5, 0.35, 1);
  min-width: 50px;
}

/* little button */
#pulseaudio,
#custom-tray-expander,
#custom-monitor,
#custom-lock,
#custom-notify {
  padding: 0;
}
#custom-monitor:hover,
#custom-lock:hover,
#custom-notify:hover {
  min-width: 50px;
}

#custom-tray-expander:hover {
  min-width: 25px;
}

#clock:hover {
  min-width: 70px;
}

@keyframes blink-update {
  to {
    background-color: @brand;
  }
}

@keyframes blink_red {
  to {
    background-color: @role-error;
  }
}
.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
