@import "../vars.css";
/* global */
* {
  font-family: "JetbrainsMonoNL Nerd Font Mono";
  font-size: 10pt;
  font-weight: bold;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 0.5s;
}
window#waybar {
  background-color: transparent;
}
window > box {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 1px;
  padding-top: 3px;
  padding-bottom: 6px;
}
.modules-left,
.modules-center,
.modules-right {
  padding-bottom: 3px;
  background: shade(alpha(rgb(48, 45, 65), 0.8), 1);
  box-shadow: 1px 2px 2px #101010;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
  /* opacity: calc(0.80); */
}

/* workspaces */
#workspaces {
  margin-top: 5px;
  margin-bottom: -2px;
}
#workspaces button {
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  margin-top: -3px;
  color: rgb(254,254,254);
}
#workspaces button.active {
  background-color: transparent;
  color: rgb(120, 112, 165);
}
#workspaces button.urgent {
  background: transparent;
  color: rgb(150, 205, 251);
}
#workspaces button:hover {
  background: transparent;
  color: rgb(120, 112, 165);
}

/* tooltip */
tooltip {
  background: rgb(48, 45, 65);
  border: 2px solid #89b4fa;
}
tooltip label {
  color: rgb(217, 224, 238);
}

/* modules */
#mode,
#clock,
#memory,
#temperature,
#cpu,
#mpd,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery,
#mpris,
#cava {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
#mode {
  margin-left: 10px;
  background-color: rgb(248, 189, 150);
  color: rgb(26, 24, 38);
}
#mpris.playing {
  color: rgb(150, 205, 251);
}

#mpris.paused {
  color: #d8cdd4;
}
/* colors */
#memory {
  color: rgb(181, 232, 224);
}
#cpu {
  color: rgb(245, 194, 231);
}
#clock {
  color: #D2C3D5;
}
#idle_inhibitor {
  color: rgb(221, 182, 242);
}
#temperature {
  color: rgb(150, 205, 251);
}
#backlight {
  color: rgb(248, 189, 150);
}
#pulseaudio {
  color: rgb(245, 224, 220);
}
#network {
  color: #abe9b3;
}
#network.disconnected {
  color: rgb(255, 255, 255);
}
#battery.charging,
#battery.full,
#battery.discharging {
  color: rgb(250, 227, 176);
}
#battery.critical:not(.charging) {
  color: rgb(242, 143, 173);
}
#tray {
  padding-right: 10px;
  padding-left: 10px;
}
#mpd.paused {
  color: #414868;
  font-style: italic;
}
#mpd.stopped {
  background: transparent;
}
#mpd {
  color: #c0caf5;
}
#cava-internal {
  font-family: "Hack Nerd Font";
}
@keyframes blink-update {
	to {
		background-color: dodgerblue;
	}
}

@keyframes blink_red {
  to {
    background-color: rgb(242, 143, 173);
    color: rgb(26, 24, 38);
  }
}
.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}