/* global */
@import "default.css";
@import "default-colors.css";
@import "colors.g.css";

@define-color fg @fg-common;
@define-color bg @bg-common;

* {
  font-size: 10pt;
  font-weight: bold;
}
window#waybar {
  /* background-color: transparent; */
  background-color: alpha(@bg, 0.8);
  color: @fg;
}

/* tooltip */
tooltip {
  background: shade(alpha(@bg, 0.9), 1);
  box-shadow: 1px 2px 2px @bg-shadow;
  text-shadow: 1px 1px 2px @fg-shadow;
  border: 2px solid @bg-border;
}
tooltip label {
  color: @fg;
}

.modules-left,
.modules-center,
.modules-right {
  border-radius: 20px;
  padding: 1px;
  text-shadow: 1px 1px 2px @fg-shadow;
}

/* workspaces */
#workspaces {
  border-radius: 999px;
  padding: 8px 2px;
  margin: 4px 0;
}

#workspaces button {
  background-color: alpha(@fg, 0.5);
  border-radius: 999px;
  padding: 0 9px;
  margin: 4px;
  min-width: 0;
  min-height: 0;
  transition: all 0.8s cubic-bezier(0, 0.5, 0.35, 1);
}

#workspaces button.active {
  background-color: @brand;
  padding: 16px 0;
  transition: all 0.8s cubic-bezier(0, 0.5, 0.35, 1);
}

#workspaces button.empty {
  background-color: alpha(@fg, 0.2);
}

#workspaces button.empty.active {
  background-color: alpha(@fg, 0.5);
}

#workspaces button.overview {
  background-color: @brand;
  min-height: 30px;
  transition: all 0.8s cubic-bezier(0, 0.5, 0.35, 1);
}

#workspaces button:hover {
  border: 1px solid @bg-border;
  background-color: @brand;
  transition: all 0.4s cubic-bezier(0, 0.5, 0.35, 1);
  min-height: 40px;
}

#workspaces button.active:hover {
  transition: all 0.4s cubic-bezier(0, 0.5, 0.35, 1);
  min-height: 40px;
}

/* modules */
#custom-lock,
#custom-monitor,
#custom-notify,
#custom-tray-expander,
#mode,
#clock,
#memory,
#cpu,
#mpd,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery,
#mpris,
#cava {
  padding: 1px;
  transition: all 1s cubic-bezier(0, 0.5, 0.35, 1);
  border-radius: 20px;
  min-height: 30px;
  margin: 0 1px;
}

#mpris.playing {
  color: @fg;
}
#mpris.paused {
  color: @fg-hover;
}

#custom-tray-expander:hover,
#custom-lock:hover,
#custom-notify:hover,
#custom-bar:hover,
#custom-logo:hover,
#clock:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#custom-notification:hover {
  color: #000000;
  background-color: @brand;
  transition: all 0.4s cubic-bezier(0, 0.5, 0.35, 1);
  min-height: 20px;
}

/* little button */
#pulseaudio,
#custom-tray-expander,
#custom-lock,
#custom-notify {
  padding: 0;
}
#custom-lock:hover,
#custom-notify:hover {
  min-height: 50px;
}

#custom-tray-expander:hover {
  min-height: 30px;
}

#clock:hover {
  min-height: 140px;
}

@keyframes blink-update {
  to {
    background-color: @brand;
  }
}

@keyframes blink_red {
  to {
    background-color: @role-error;
  }
}
.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
